<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/resources/css/AboutPageStyle.css">
    <title>About Us</title>
    <style>

    </style>
</head>

<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h1>Meet the Creators</h1>
    </div>
</main>

<%- include ('../partials/footer') %>
